# Django
ALLOWED_HOSTS=*
#ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost
DEBUG=True
SECRET_KEY=secret
SECRETS_DIR=secrets

DJANGO_LOG_LEVEL=DEBUG
DJANGO_SETTINGS_MODULE=config.settings

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_SESSION_DB=0
CACHE_REDIS_DB=10

# Django per-site cache
PER_SITE_CACHE_ENABLED=
CACHE_MIDDLEWARE_SECONDS=300

CSV_FOLDER=csv_temp