# Django
ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost
DEBUG=True
SECRET_KEY=secret
SECRETS_DIR=secrets

DJANGO_LOG_LEVEL=DEBUG
DJANGO_SETTINGS_MODULE=init.settings

DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_NAME=db
DATABASE_USER=admin
DATABASE_PASSWORD=admin

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_SESSION_DB=0
CACHE_REDIS_DB=10

# Django per-site cache
PER_SITE_CACHE_ENABLED=
CACHE_MIDDLEWARE_SECONDS=300

# Google Cloud Storage
GS_BUCKET_NAME=
GS_PROJECT_ID=
GS_CREDENTIALS_FILE=credentials.json

CSV_FOLDER=csv_temp